doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(type='text/javascript' src="/javascripts/jquery-2.1.1.min.js")
    script(type='text/javascript' src="/javascripts/bootstrap.min.js")
  body.container
    .row
      h1.text-center 银行家算法——李子翔20143223
    block content